<div class="filters">
	<div class="input-block live-search">
		<label for="name-filter">Filter</label>
		<input type="hidden" id="name-filter" />
	</div>
	<div class="input-block view-favorites">
		<button class="btn" data-placement="left" id="view-favorites-btn" title="<%= showingFavorites ? 'Show All' : 'Show Favorites Only' %>"><%= showingFavorites ? '&#9733;' : '&#9734;' %></button>
	</div>
	<div class="input-block previews-per-page">
		<label for="preview-per-page">Per Page</label>
		<input type="number" id="preview-per-page" value="<%= per_page %>" size="3" />
		<button class="btn" id="preview-per-page-btn">Set</button>
	</div>
	<div class="input-block preview-sort">
		<label for="preview-sort">Sort By</label>
		<select id="preview-sort">
			<option value="fonts_count,desc" data-dir="desc"<%= setSortInput('fonts_count', 'desc') %>># of Styles (desc)</option>
			<option value="fonts_count,asc" data-dir="asc"<%= setSortInput('fonts_count', 'asc') %>># of Styles (asc)</option>
			<option value="name,asc" data-dir="asc"<%= setSortInput('name', 'asc') %>>A-Z</option>
			<option value="name,desc" data-dir="desc"<%= setSortInput('name', 'desc') %>>Z-A</option>
		</select>
	</div>
</div>

<div class="font-modifiers">
	<div class="input-block text-preview">
		<input type="text" id="preview-text-input" value="<%= preview_text %>" size="50" />
		<button class="btn" id="preview-text-btn">Preview</button>
	</div>
	<div class="font-size-adjuster">
		<input type="range" min="8" max="72" value="30" id="font-size-adjuster" name="font_size_adjuster" />
		<output for="font_size_adjuster" onforminput="value=font_size_adjuster.valueAsNumber"><%= font_size %>px</output>
	</div>
</div>

<ul id="font-list"></ul>

<div class="navigation">
	<ol id="nav"></ol>
</div>
