<div class="user-inputs">
	<div class="input-block text-preview">
		<input type="text" id="preview-text-input" value="<%= preview_text %>" size="50" />
		<button class="btn" id="preview-text-btn">Preview</button>
	</div>
	<div class="input-block previews-per-page">
		<label for="preview-per-page">Per Page</label>
		<input type="number" id="preview-per-page" value="<%= per_page %>" size="3" />
		<button class="btn" id="preview-per-page-btn">Set</button>
	</div>
</div>

<ul id="font-list"></ul>

<div class="navigation">
	<ol id="nav"></ol>
</div>
