/* Runtime Variables */

$font: droid-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSize : 15px;
$fontPreviewSize : 30px;

$inputHeight : 26px;
$width: 970px;


/* Colors */
$baseFontColor : #333;
$black : #000;
$white : #fff;
$red : #B60202;
$green : #30B8B8;
$yellow: #D8B80E;

$bgColor : #f7f7f7;
$fontPreviewColor : #333;

